flows.json
[{"id":"bdf576a7.bb6b48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"656b50d5.eb31d","type":"http request","z":"bdf576a7.bb6b48","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://malavika1234.s3.jp-tok.cloud-object-storage.appdomain.cloud/Inventory.txt","tls":"","persist":false,"proxy":"","authType":"basic","x":320,"y":120,"wires":[["161845b3.3fadba","3642ebf5.86f594"]]},{"id":"2a4ebead.672b32","type":"inject","z":"bdf576a7.bb6b48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["656b50d5.eb31d"]]},{"id":"161845b3.3fadba","type":"debug","z":"bdf576a7.bb6b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"7248fec1.8eddf","type":"ui_template","z":"bdf576a7.bb6b48","group":"f6b2b090.899ac","name":"","order":1,"width":0,"height":0,"format":"<div style=\"text-align: center;\" >\n    <h2 height=\"400\">{{msg.payload}}</h2>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":300,"wires":[[]]},{"id":"3642ebf5.86f594","type":"function","z":"bdf576a7.bb6b48","name":"","func":"msg.payload=msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":180,"wires":[["7248fec1.8eddf"]]},{"id":"f6b2b090.899ac","type":"ui_group","name":"Default","tab":"83caeb54.d8db68","order":1,"disp":true,"width":21,"collapse":false},{"id":"83caeb54.d8db68","type":"ui_tab","name":"Inventory Management","icon":"dashboard","disabled":false,"hidden":false}]